<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Voltar", transactions_path %>
  <%= button_to "Destruir esta transação", @transaction, method: :delete %>
</div>
