/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * Default padding
*/
.margin-default {
    margin-left: 2%;
}

/*
 * Header navbar
*/
.navbar-header {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d97b2b;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 16px 32px;
    color: #1f1f1f;
}

.navbar-item .active, .navbar-item a:hover {
    color: white;
    background-color: #1f1f1f;
}

/*
 * Footer navbar
*/
.navbar-footer {
    list-style-type: none;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    padding: 0;
    background-color: #d97b2b;
}

/*
 * Content table
*/
.table-content {
    width: 100%;
    padding: 2%;
    text-align: left;
}

.table-content-center {
    text-align: center;
}

.table-content-head th {
    background-color: #d97b2b;
    padding: 10px;
    border: none;
}

/*
 * Buttons
*/
.button-content {
    background-color: #d97b2b;
    color: #1f1f1f;
    border: none;
    border-radius: 12px;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.button-content.error {
    background-color: #ec0f0f;
    color: white;
}

.button-content:hover {
    background-color: #1f1f1f;
    color: white;
}