<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= store.owner %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= store.document %>
  </p>

</div>
