<h1 class="margin-default">Editando "<%= @store.name %>"</h1>

<%= render "form", store: @store %>

<br>

<div class="margin-default">
  <%= link_to "Mostrar", @store, class: "button-content" %>
  <%= link_to "Voltar", stores_path, class: "button-content error" %>
</div>
