<div id="<%= dom_id transaction_type %>">
  <p>
    <strong>Identifier:</strong>
    <%= transaction_type.identifier %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= transaction_type.name %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= transaction_type.operation %>
  </p>

</div>
