<h1>Editing transaction type</h1>

<%= render "form", transaction_type: @transaction_type %>

<br>

<div>
  <%= link_to "Show this transaction type", @transaction_type %> |
  <%= link_to "Back to transaction types", transaction_types_path %>
</div>
