<p style="color: green"><%= notice %></p>

<h1>Transaction types</h1>

<div id="transaction_types">
  <% @transaction_types.each do |transaction_type| %>
    <%= render transaction_type %>
    <p>
      <%= link_to "Show this transaction type", transaction_type %>
    </p>
  <% end %>
</div>

<%= link_to "New transaction type", new_transaction_type_path %>
